




<section id="pricing">
		<div class="container">
			<div class="row">

				<h1>Produtos</h1>
				<span class="st-border"></span>

				<div class="col-md-3">
					<div class="sidebar-widget">
						<div class="blog-search">
                            <form>
                                <input type="text" name="search">
                                <span>
                                	<button id="submit_btn" class="search-submit" type="submit">
                                    <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </form>
                        </div>
					</div>
					<div class="sidebar-widget">
						<h4 class="sidebar-title">Categories</h4>
						<ul>
							<li><a href="">Web Design</a></li>
							<li><a href="">Web Development</a></li>
							<li><a href="">Video</a></li>
							<li><a href="">HTML</a></li>
							<li><a href="">CSS</a></li>
						</ul>
					</div>


				</div>


				<div class="col-md-9">
					<div class="section-title">

					</div>
				</div>
  		<% @produtos.each do |produto| %>
				<div class="col-sm-3">
					<div class="st-pricing text-center">

						<div class="portfolio-content">
							<img class="img-responsive" src="<%= produto.imagem.url(:medium) %>" alt="">
						</div>

						<div class="st-border"></div>
						<ul>
							<li> <h5><%= produto.nome %><h5></li>
							<li><%= produto.tipo %></li>
						

						</ul>
							<p ><%= link_to "Ver mais", produto_path(produto), class: "btn btn-send" %><p>
					</div>
				</div>
				<% end %>

			</div>
			<%= will_paginate @produtos, renderer: BootstrapPagination::Rails, previous_label: "<", next_label:">" %>
		</div>


	</section>
