
<section id="pricing">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Novo Produto</h1>
						<span class="st-border"></span>
					</div>
				</div>

				<div class="col-sm-12">
					<div class="st-pricing text-center">
            <%= form_for @produto, :html => {multipart: true}  do |f| %>
						<ul>
							<li><%= f.text_field :nome, placeholder:"Nome" %></li>
							<li><%= f.text_field :tipo, placeholder:"Tipo" %></li>
							<li>Descrição</li>
							<li><%= f.text_area :descricao %></li>
              <li><%= f.file_field :imagem, class:"filestyle" %></li>
						</ul>

            <%= f.submit "Create", class:"btn btn-send" %>
					</div>
				</div>
        <% end %>
			</div>
		</div>
	</section>
