<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

    <%= javascript_include_tag 'owl.carousel.min.js' %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= stylesheet_link_tag 'owl.carousel.css'  %>
    <%= stylesheet_link_tag 'magnific-popup.css'  %>

    <%= stylesheet_link_tag 'style.css'  %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">











  </head>
  <body class="homepage">


    <header id="header">
                <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand" href="index.html"><img src="" alt="logo"></a>
                        </div>

                        <div class=" navbar-right "  style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li class="scroll active"><a href="/">Home</a></li>
                                <li class="scroll"><a href="/produtos">produtos</a></li>
                            </ul>
                        </div>
                    </div><!--/.container-->
                </nav><!--/nav-->
            </header>




    <%= yield %>

    <% if current_user %>
         <ul>
           <li><%= current_user.email %></li>
           <li><%= link_to "Log out", logout_path, method: "delete" %></li>
         </ul>
       <% else %>
       <% end %>
       <% if current_user %>
       <li><a href="/admin/produtos/new">novo produto</a></li>
       <li><a href="/admin/capas/new">nova capa</a></li>
     <% end %>

  </body>
</html>
